<h1>Lista de promocoes</h1>

<!-- Formulário de filtro por categoria -->
<form method="GET" action="/promocoes">
    <div class="form-group">
        <label for="categoria">Filtrar por Categoria:</label>
        <select id="categoria" name="categoria" class="form-control">
            <option value="">Todas as Categorias</option>
            <% categorias.forEach(categoria => { %>
                <option value="<%= categoria.id %>" <%= categoriaSelecionada == categoria.id ? 'selected' : '' %>><%= categoria.nome %></option>
            <% }) %>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Filtrar</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Categoria</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <% promocoes.forEach(promocoes => { %>
            <tr>
                <td><%= promocoes.id %></td>
                <td><%= promocoes.nome %></td>
                <td><%= promocoes.descricao %></td>
                <td><%= promocoes.preco %></td>
                <td><%= promocoes.quantidade %></td>
                <td><%= promocoes.categoria_nome %></td>
                <td>
                    <a href="/promocoes/<%= promocoes.id %>" class="btn btn-primary">View</a>
                    <a href="/promocoes/<%= promocoes.id %>/edit" class="btn btn-warning">Edit</a>
                    <form action="/promocoes/<%= promocoes.id %>?_method=DELETE" method="POST" style="display: inline;">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>
