<h1>promocoes Details</h1>
<p>ID: <%= promocoes.id %></p>
<p>Nome: <%= promocoes.nome %></p>
<p>Descrição: <%= promocoes.descricao %></p>
<p>Preço: <%= promocoes.preco %></p>
<p>Quantidade: <%= promocoes.quantidade %></p>
<p>Categoria: <%= promocoes.categoria_nome %></p>
<a href="/promocoes" class="btn btn-primary">Back to List</a>
